body {
    background-color:slateblue;
    height:screen;
}

.container {
    
    border-radius: 10px;
    width: 600px;
    height:300px ;
    align-items: center;
    margin: auto;
    background-color: aliceblue;

}

.container h1 {
   text-align: center;
   background-color: rgba(223, 27, 27, 0.861);
   color: white;
   border-radius: 10px;
}

.inputabc {
   
    width: 80%;
    height: 200px;
    align-items: center;
    margin: auto;
    
    
}

#task-list{
    list-style:decimal-leading-zero;
}

#input-er{
    color: red;
}

input {
    width:70%;
    height: 30px;
    margin-left: 15px;
}

button {
    width:70px;
    height: 40px;
    background-color: rgba(245, 37, 37, 0.861);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 30px;
   
}

button:hover {
    background-color: red;
    border: 1px solid white;
   
} 

